* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 500px;
    justify-content: center;
    background-color: rgba(0, 162, 255, 0.925);
    margin: 200px;
    padding: 30px;
    gap: 1.5rem;
}
p.head {
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 40px;
}
p.sub {
    font-size: 30px;
    padding-top: 15px;
}
input {
    height: 35px;
    border-radius: 10px;
    border: 2px solid gray;
    margin-left: 15px;
    padding: 5px 20px;
}
.btn {
    display: flex;
    gap: 3rem;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}
a {
    text-decoration: none;
    background-color: rgba(127, 146, 255, 0.856);
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid white;
}