* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.login-box {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: center;
}
p.head {
    font-weight: bolder;
    color: black;
}